<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.mapsted" version="1.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaPluginMapsted</name>
    <js-module name="CordovaPluginMapsted" src="www/CordovaPluginMapsted.js">
        <clobbers target="CordovaPluginMapsted" />
    </js-module>
    <platform name="android">
        <framework src="com.mapsted:sdk-map-ui:5.4.7" />
        <framework src="com.mapsted:sdk-map:5.4.7" />
        <framework src="com.mapsted:sdk-core:5.4.7" />

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaPluginMapsted">
                <param name="android-package"
                    value="cordova.plugin.mapsted.CordovaPluginMapsted" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

        </config-file>
        <source-file src="src/android/CordovaPluginMapsted.java"
            target-dir="src/cordova/plugin/mapsted/CordovaPluginMapsted" />
        
        <!-- Add the following resource-file entry -->
        <!-- If you add android_licence_cineca.key file in cordova plugin -->
        <!-- <resource-file src="src/android/android_licence_cineca.key" target="assets/android_licence_cineca.key" /> -->
   
        <resource-file src="build-extras.gradle" target="build-extras.gradle" />
        <resource-file src="src/android/styles.xml" target="res/values/styles.xml" />

    </platform>
    <platform name="ios">
        <!-- Add location usage descriptions -->
        <config-file parent="NSLocationWhenInUseUsageDescription" platform="ios" target="*-Info.plist">
         <string>Your location description goes here</string>
        </config-file>
        <config-file parent="NSLocationAlwaysUsageDescription" platform="ios" target="*-Info.plist">
            <string>Your location description goes here</string>
        </config-file>
        <!-- Add Cordova plugin feature -->
        <config-file parent="/*" target="config.xml">
            <feature name="CordovaPluginMapsted">
                <param name="ios-package" value="CordovaPluginMapsted"/>
            </feature>
            <preference name="deployment-target" value="13.0"/>
            <preference name="IPHONEOS_DEPLOYMENT_TARGET" value="13.0" />
            <preference name="SwiftVersion" value="5.0" />
        </config-file>
        <config-file parent="/*" target="*-Info.plist">
            <string>13.0</string>
            <key>MinimumOSVersion</key>
            <dict>
            <key>IPHONEOS_DEPLOYMENT_TARGET</key>
            <string>13.0</string>
            </dict>
        </config-file>
         <!-- Include header and source files -->
        <source-file src="src/ios/CordovaPluginMapsted.swift" />
        <source-file src="src/ios/CordovaMapsted.swift" />
        <source-file src="src/ios/CordovaPluginMapstedPropListViewController.swift" />
        <podspec>
        <config>
        <source url="https://cdn.cocoapods.org/" />
        <source url="https://github.com/Mapsted/podspec-simulator.git" />
        </config>
        <pods use-frameworks="true">
        <pod name="mapsted-sdk-map" spec="~> 5.0" />
        <pod name="mapsted-sdk-map-ui" spec="~> 5.0" />
        <pod name="mapsted-sdk-geofence" spec="~> 5.0" />
        </pods>

        </podspec>
        <resource-file src="src/ios/CordovaPluginMapsted.storyboard" />
        <!-- Include iOS-licence.key file locally if you want to directly use it from cordova plugin-->
        <!-- <resource-file src="src/ios/ios_licence.key" target="resources/ios_licence.key" /> -->
    </platform>
</plugin>