<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.mapsted" version="1.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaPluginMapsted</name>
    <js-module name="CordovaPluginMapsted" src="www/CordovaPluginMapsted.js">
        <clobbers target="CordovaPluginMapsted" />
    </js-module>
    <platform name="android">
        <framework src="com.mapsted:sdk-map-ui:5.4.7" />
        <framework src="com.mapsted:sdk-map:5.4.7" />
        <framework src="com.mapsted:sdk-core:5.4.7" />

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaPluginMapsted">
                <param name="android-package"
                    value="cordova.plugin.mapsted.CordovaPluginMapsted" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

        </config-file>
        <source-file src="src/android/CordovaPluginMapsted.java"
            target-dir="src/cordova/plugin/mapsted/CordovaPluginMapsted" />
   
        <!-- Add the following resource-file entry -->
        <resource-file src="build-extras.gradle" target="build-extras.gradle" />
        <resource-file src="src/android/styles.xml" target="res/values/styles.xml" />


    </platform>
</plugin>